<!--
	GameType       string
	Opponent       string
	OpponentWins   int
	OpponentLosses int
	OpponentOT     int
	Venue          string
	GameDate       time.Time
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Preds Tracker</title>
</head>
<body>
<h2>Preds Tracker</h2>
<a href="/roster">View Roster</a>
<div>
    <img width="200" src="https://www-league.nhlstatic.com/images/logos/teams-current-primary-light/18.svg"/>
</div>
<h3>Next Game: {{.Opponent}} on {{.GameDate}} at {{.Venue}}</h3>
<img width="200" src="https://www-league.nhlstatic.com/images/logos/teams-current-primary-light/{{.OpponentID}}.svg"/>
</body>
</html>